<div class="register-success-container">
  <div class="register-success-card">
    <h2>{{t 'auth.user_created'}}</h2>
    <p>{{t 'auth.register_success_message'}}</p>
    <a href="/login" class="red-button register-success-button">{{t 'login'}}</a>
  </div>
</div>

