<footer class="footer text-center text-muted bg-light border-top mt-auto">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <p class="mb-0">
          <span id="current-year"></span>
          <span data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top"
            title="Licensed under <a href='https://opensource.org/licenses/MIT' target='_blank'>MIT License</a>.<hr>Reproduction and usage must always cite the main author as the source.">HALO System</span>
        </p>
        <p class="mb-0 footer-note">Architected with <i class="ti ti-hammer text-info"></i>, <i class="ti ti-brain text-warning"></i> and <i class="ti ti-heart text-danger"></i> by <a href="mailto:anr@isep.ipp.pt" target="_blank" class="text-muted"><strong>HALO Team</strong></a></p>
      </div>
    </div>
  </div>
</footer>
