<aside class="left-sidebar">
  <div class="sidebar-shell">
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a href="/" class="text-nowrap logo-img halo-brand-link">
        <div class="d-flex align-items-center gap-3">
          <span class="d-inline-flex align-items-center justify-content-center">
            <img
              src="/assets/images/logos/logo.png"
              alt="HALO logo"
              class="img-fluid"
              style="max-height: 52px; width: auto;"
            >
          </span>
        </div>
      </a>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>

    <hr class="my-3">

    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="sidebar-item">
          <a class="sidebar-link" href="/" aria-expanded="false">
            <span>
              <i class="ti ti-home-2"></i>
            </span>
            <span class="hide-menu">Home</span>
          </a>
        </li>

        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Learning Area</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/#learning-area" aria-expanded="false">
            <span>
              <i class="ti ti-brain"></i>
            </span>
            <span class="hide-menu">AI Learning Path</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="#" aria-expanded="false">
            <span>
              <i class="ti ti-rocket"></i>
            </span>
            <span class="hide-menu">Playground</span>
          </a>
        </li>

        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">About Us</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/#about-us" aria-expanded="false">
            <span>
              <i class="ti ti-info-circle"></i>
            </span>
            <span class="hide-menu">About HALO</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/contributors" aria-expanded="false">
            <span>
              <i class="ti ti-users"></i>
            </span>
            <span class="hide-menu">Contributors</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/publications" aria-expanded="false">
            <span>
              <i class="ti ti-book"></i>
            </span>
            <span class="hide-menu">Publications</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="mailto:anr@isep.ipp.pt" aria-expanded="false">
            <span>
              <i class="ti ti-mail"></i>
            </span>
            <span class="hide-menu">Contact Us</span>
          </a>
        </li>
      </ul>

      <hr class="my-4">

      <div class="d-flex">
        <div class="unlimited-access-title me-3">
        </div>
        <div class="unlimited-access-img">
          <img src="/assets/images/undraw_ai.gif" alt="" class="img-fluid">
        </div>
      </div>

      <figure>
        <blockquote class="blockquote">
          <p>We Shape Our Tools and Thereafter They Shape Us.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Marshall McLuhan <cite
            title="It comes up in an article by Culkin about McLuhan: Culkin, J.M. (1967, March 18). A schoolman’s guide to Marshall McLuhan. Saturday Review, pp. 51-53, 71-72. The idea presented in the quote is entirely consistent with McLuhan’s thinking on technology in general.">1967</cite>
        </figcaption>
      </figure>

    </nav>
  </div>
</aside>