@use '../abstracts' as *;

.home-page{
    padding: 4rem 1rem;
    max-width: 700px;
    margin: 2rem auto;
    text-align: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  
    h1 {
      font-size: $font-size-h1;
      margin-bottom: 1rem;
      font-family: $font-family-text;
    }
  
    p {
      font-size: $font-size-text;
      margin-bottom: 2rem;
      color: #555;
    }
  
    .btn {
      font-size: $font-size-text;
      padding: 0.75rem 1.5rem;
      border-radius: 4px;
      text-decoration: none;
      display: inline-block;
    }
  
    .btn-primary {
      background: #d81b60;
      color: #fff;
    }
}